* {
	margin: 0;
	padding:0;
}

header {
	background-color: #7cc576;
	width: 100%;
	min-height: 238px;
}

main {
	background-image: url(https://colw0013.github.io/lib2024/assg-4/img/circles-light.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 688px;
	width: 96%;
	padding: 2%;
}


footer {
	background-color: #7cc576;
	min-height: 105px;
	width: 96%;
	padding: 2%;
}

.clearfix:after {
	content: "";
	clear: both;
	display: inline-block;
}

.header {
	float: left;
}

.main-nav {
	min-height: 65px;
	width: 15%;
	background-color: #6dcff6;
	bottom: 0px;
	display: inline-block;
	text-align: center;
	margin-left: 4%;
	margin-right: 4%;
}

#main-heading {
	padding-top: 50px;
	padding-right: 175px;
	padding-bottom: 50px;
	padding-left: 175px;
}

#nav-div {
	position: relative;
	left: 0px;
	bottom: 0px;
	width: 92%;
	display: block;
	margin-left: 4%;
	margin-right: 4%;
}

#main-content {
	float: left;
	width: 65%;
}

#main-sidebar {
	float: right;
	width: 31%;
}

#images {
	float: left;
	width: 96%;
	margin-top: 3%;
}