* {
	margin: 0;
	padding:0;
}

header {
	background-color: #7cc576;
	width: 100%;
	min-height: 238px;
}

main {
	background-image: url(https://colw0013.github.io/lib2024/assg-4/img/circles-light.png);
	background-repeat: no-repeat;
	background size: cover;
	min-height: 688px;
	width: 96%;
	padding: 2%;
}


footer {
	background-color: #7cc576;
	min-height: 105px;
	width: 96%;
	padding: 2%;
}

.clearfix:after {
	content: "";
	clear: both;
	display: inline-block;
}

.header {
	float: left;
}

#main-heading {
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}